<div class="row">
   <div class="col-md-8">
     <p> Name: <%= @user.name %></p>
     <p> Email: <%= @user.email %></p>
     <p> Password: <%= @user.password %></p>
   </div>
   <div class="col-md-4">
      <%= button_to "Confirm", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
      <%= link_to "Cancel", new_user_path, class: 'btn btn-danger' %>
   </div>
</div>